@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --primary-font: 'Work Sans', sans-serif;
    --p-font-size: clamp(12px, 16px, 16px);

    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);

    --mobile-breakpoint: 375px;
}

body {
    background-color: var(--light-pink);
    min-height: 100vh;
    min-height: 100svh;
}

.header-bg {
    background-image: url('../assets/background-pattern-desktop.svg');
    min-height: 300px;
}

.container {
    background-color: var(--white);
    padding: 24px;
    margin: 0 auto;
    width: clamp(450px, 600px, 700px);
    transform: translateY(-100px);
}